* {
  font-family: 'Rubik Pixels', cursive;
}

html {
	background-size: 200%;
	height: 100vh;
  background-color: #e73c7e;
}

/* Header */

.header {
  text-align: center;
  width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h1 {
  font-size: 50px;
  margin-bottom: -10px;
}

h2 {
  margin-top: 100px;
}

/* Score Columns */

.score-columns {
  display: flex;
  text-align: center;
}

#user-score-column {
  margin-right: auto;
}

#computer-score-column {
  margin-left: auto;
}

.wins {
  margin-top: 30px;
}

.token {
  font-size: larger;
  height: 100vh;
  column-width: 200px;
  padding-top: 80px;
  background-color: lightpink;
}

/* buttons */

.button {
  display: flex;
  margin: auto;
  width: 210px;
  padding-bottom: 5px;
  font-size: 15px;
  box-shadow: 9px 9px purple;
  background-color: lightpink;
  cursor: grab;
}

.button:hover {
  background-color: blueviolet;
}

.classic-btn {
  margin-top: 200px;
}

.difficult-btn {
  margin-top: 50px;
  height: 235px;
}

h3 {
  font-size: 17px;
}

#change-game-btn, #reset-score-btn {
  margin-top: 80px;
  height: 30px;
  background-color: #e73c7e ;
  cursor: grab;
  box-shadow: 5px 5px purple;
}

.fighter {
  height: 200px;
  cursor: grab;
}

#water, #bird, .difficult-game-view, .fighter-display {
  padding-top: 200px;
}

.hidden {
  display: none;
}
